.posts {
	&__header {
		display: flex;
		align-items: baseline;
		margin-bottom: 1rem;
		gap: var(--s-xs);
	}

	&__count {
		color: var(--c-dim);
		font: var(--fs-body-2);
	}

	&__year {
		margin-top: 1em;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--s-sm);
		list-style: none;
		margin-top: 1em;

		&--fading {
			@for $i from 0 through 5 {
				& > :nth-child(#{$i}) {
					opacity: 1 - $i * 0.075;
				}
			}
		}
	}

	&__more {
		display: inline-block;
		margin-top: 1rem;
	}
}
