{% extends "../_includes/templates/base.njk" %}

{% block main %}
	<div class="container">
		<div class="page__intro intro markdown">{{ content | safe }}</div>

		<div class="posts">
			<div class="posts__header">
				<h2>Посты</h2>
				<p
					class="posts__count"
					aria-label="Всего постов {{ collections.$posts.length }}"
				>
					{{ collections.$posts.length }}
				</p>
			</div>

			<div class="posts__list posts__list--fading">
				{% import "../_includes/components/post-card.njk" as postCard %}
				{% for post in collections.$posts %}
					{{ postCard.default(post) }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
